#groupParent {
	overflow-y: auto;
	padding: 20px;
}

#groupDialog {
	width: 700px;
}

.card {
	width: 250px;
	height: 220px;
	display: block;
	background: white;
	box-sizing: border-box;
	margin: 10px;
}

.card.addCard {
	color: gray;
}

.addCardIcon {
	width: 60px;
	height: 60px;
}

.title {
	height: 40px;
	background: #CFD8DC;
	padding-left: 10px;
	padding-right: 10px;
}

.content {
	padding: 8px;
}

.cardDate {
	font-size: 14px;
	color: gray;
}

.testOverflow {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}