html, body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#editor-container {
  height: 100%;
  background: url(../images/bg_pattern_r1.png);
  padding: 25px;
  margin: 40px 80px;
}

.editor-sidebar {
  margin-top: 30px;
  margin-right: 4px;
  margin-bottom: 20px;  
  width: 150px;
}

.scrollEditor {
  overflow-y: auto;
}

.editFab {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.editor-close {
  position: absolute;;
  right: 0px;
  top: 0px;
}