.title {
	background: white;
	height: 20px;
	padding: 10px;
}

.content {
	background: url(../../images/bg_pattern_r1.png);
	padding: 16px;
	min-height: 80px;
	max-height: 200px;
	overflow-x: auto;
	overflow-y: hidden;
}

.tag-button {
	color: #4285f4;
	font-size: 0.8em;
}

.more-button {
	color: gray;
	font-size: 0.8em;
}

.tag-button:hover {
  background: #eee;
}

.date {
	font-size: 0.8em;
	color: gray;
}

.label-container {
	padding: 2px 4px;
}

.message-label {
	font-size: 14px;
	color: gray;
	height: 30px;
	margin: 4px;
}

.likes-popup {
	max-height: 200px;
	overflow-y: auto; 
}

/* Avatar */
.avatar {
	margin-bottom: 5px;
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    width: 25px;
    height: 25px;
    background: #9e9e9e url() center center no-repeat;
    background-size: contain;
    border: solid 1px silver;
    margin-right: 5px;
}

paper-icon-button.red {
	color: #5677fc;
}
paper-icon-button.gray {
	color: gray;
}

core-tooltip.fancy::shadow .core-tooltip {
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
  transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

core-tooltip.fancy:hover::shadow .core-tooltip,
core-tooltip.fancy:focus::shadow .core-tooltip {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}