/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

/* styles for the custom element itself - lowest specificity */
:host {
  display: block;
}

#sendButton {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#editorFooter {
	box-shadow: 0px -2px 6px 0px rgba(128,133,135,1);
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: white;
}

#messageEditor {
	margin-right: 15px;
}

#textEditor {
	height: 200px;
	border: 1px solid #ddd;
    margin: 10px;
    width: 100%;
    font-size: 14px;
    padding: 8px;
}

#editorInput {
	margin-right: 15px;
}

#scroller {
	padding-top: 30px;
	padding-bottom: 130px;
}

paper-fab.blue {
  background: #5677fc;
}

.messageContainer {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 20px;
}

.message-sender {
	color: gray;
	font-size: 14px;
	word-wrap: break-word;
}

/* Avatar */
.avatar {
	margin-bottom: 5px;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    background: #9e9e9e url() center center no-repeat;
    background-size: contain;
    border: solid 3px silver;
}
