.custom /deep/ ::-webkit-input-placeholder {
  color: #f4b400;
}

.custom /deep/ ::-moz-placeholder {
  color: #f4b400;
}

.custom /deep/ :-ms-input-placeholder {
  color: #f4b400;
}

.custom /deep/ .label-text,
.custom /deep/ .error {
  color: #f4b400;
}

.custom /deep/ .unfocused-underline {
  background-color: #f4b400;
}

.custom[focused] /deep/ .floated-label .label-text {
  color: #0f9d58;
}

.custom /deep/ .focused-underline {
  background-color: #0f9d58;
}

.custom.invalid /deep/ .floated-label .label-text,
.custom /deep/ .error {
  color: #f06292;
}

.custom.invalid /deep/ .focused-underline {
  background-color: #f06292;
}

.custom {
  color: #1a237e;
}